<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MyShirt - Transaction Success</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/css/bootstrap.js"></script>
<style>
body {
	background-color: Cornsilk;
	
}
div{
color:orange;
}
th{
color:orange;
}
td{
color:orange;
}
h1{
color:orange;
}

</style>
</head>
<body>
	<div class="container">
		<div th:replace="fragments/header"></div>
		<main>
			

			<table class="table bordered">
			<thead>
				<tr>
					<th>Category</th>
					<th>Shirt</th>
					<th>Quantity</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
			
					<tr th:each="cartItem : ${cartItemList}">
				
						<td th:text="${cartItem.shirt.category.name}"></td>
						<td th:text="${cartItem.shirt.name}"></td>
						<td th:text="${cartItem.quantity}"></td>
						<td th:text="${cartItem.subTotal}"></td>
					</tr>
					
				
			</tbody>
		</table>
		</main>
<h1>Thank You for the purchase:)</h1>
	</div>
</body>
<div th:replace="fragments/footer"></div>
