<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>myShirt - View Orders</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/css/bootstrap.js"></script>
<style>
body {
	background-color: Cornsilk;
}


</style>
<script>
function deleteing(){
    alert("Order is deleted."+"\nIf the page is not changing please kindly refresh"+"\nThank You:)")
   }
function editing(){
    alert("Directing to edit page , please wait patiently , thank you :)"+"\nIf the page is not changing please kindly refresh"+"\nThank You:)")
   }
</script>
</head>
<body>
	<div class="container">
		<div th:replace="fragments/header"></div>
		<div class="h1">View Orders <a href="http://localhost:8080/order/add" class="btn  btn-success ">+ Add Order</a></div> 
		<table class="table bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Order</th>
				</tr>
			</thead>
			<tbody>
			
					<tr th:each="order : ${listOrder}">
						<td th:text="${order.id}"></td>
						<td th:text="${order.description}"></td>
						<td><a th:href="@{/order/edit/{id}(id=${order.id})}" class="btn  btn-success" onclick="editing()">Edit Order</a> <a th:href="@{/order/delete/{id}(id=${order.id})}" class="btn  btn-danger " onclick="deleteing()">Delete Order</a></td>
						
					</tr>
					
				
			</tbody>
		</table>
	
	</div>

		
								
</body>
	<div th:replace="fragments/footer"></div>
</html>